@import url(https://fonts.googleapis.com/css?family=Tenor+Sans|PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic);

body {
    background: #d1c4c4;
}
.container {
    padding-top: 50px;
    padding-left: 250px;
    padding-right: 250px;
    background-image: url(../img/Macbook\ Pro.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 150px;
    min-height: 720px;
    /* text-align: center; */
}
h1  {
    margin-bottom: 50px;
    font-family: 'Tenor Sans', sans-serif;
    text-align: center;
}
.list-unstyled li {
    border: 2px solid #a39e9e;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #201f1f;
    transition: 0.5s;
    padding: 5px 0 5px 10px;
}
.list-unstyled li:hover {
    background: #a39e9e;
}
.list-unstyled li:hover a {
    color: #201f1f;
}
.list-unstyled a {
    display: block;
    min-width: 100%;
    color: #a39e9e;
    font-size: 20px;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .container {
        padding-left: 170px;
        padding-right: 170px;
    }
}
@media screen and (max-width: 992px) {
    h1 {
        margin-bottom: 25px;
    }
    .container {
        padding-left: 170px;
        padding-right: 170px;
        background-size: 110%;
        background-position: -35px 150px;
    }
    .list-unstyled a {
        font-size: 15px;
    }
}
@media screen and (max-width: 767px) {
    h1 {
        margin-bottom: 70px;
    }
    .container {
        background-image: url(../img/ipad.png);
        background-position: 0 100px;
        background-size: 100%;
        padding-top: 10px;
        padding-left: 100px;
        padding-right: 100px;
        min-height: 790px;

    }
    .list-unstyled a {
        font-size: 25px;
    }
}
@media screen and (max-width: 576px) {
    .container {
        min-height: 830px;
    }
}
@media screen and (max-width: 539px) {
    .list-unstyled a {
        font-size: 20px;
    }
}
@media screen and (max-width: 470px) {
    h1 {
        font-size: 35px;
    }
    .list-unstyled a {
        font-size: 15px;
    }
}
@media screen and (max-width: 398px) {
    h1 {
        font-size: 30px;
        margin-bottom: 150px;
    }
    .container {
        background-image: url(../img/iphone.png);
        padding-left: 50px;
        padding-right: 50px;
        min-height: 880px;
    }
    .list-unstyled a {
        font-size: 20px;
    }
}
