@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/ttf/Montserrat-Light.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/ttf/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/ttf/ralewaylight.ttf);
}
  
@font-face {
    font-family: Raleway-Medium;
    src: url(../fonts/ttf/ralewaymedium.ttf);
}

@font-face {
    font-family: Raleway-ExtraBold;
    src: url(../fonts/ttf/ralewayextrabold.ttf);
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url(../fonts/ttf/ralewaysemibold.ttf);
}

@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/ttf/ralewayregular.ttf);
}

@font-face {
  font-family: Raleway-Bold;
  src: url(../fonts/ttf/ralewaybold.ttf);
}

body {
    font-family: Montserrat-Light;
}

p {
    margin: 0;
  }

a  {
    text-decoration: none;
}

header {
    width: 100%;
    min-height: 1024px;
    margin: 0 auto;
    background: url(../img/bg-logo.jpg) no-repeat;
    background-size: contain;
    padding: 40px 0;
    box-sizing: border-box;
    color: #fff;
}

h2 {
    margin: 0;
    font-size: 36px;
    font-family: Raleway-Medium;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    margin: 5px;
    font-size: 52px;
    font-family: Raleway-ExtraBold;
    font-weight: 800;
    line-height: 1.2;
}

.main-header {
    width: 1230px;
    min-height: 56px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}

.main-header-logo {
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 185px;
    color: #fff;
    fill: #fff;
}

.main-header-logo:hover {
    color: #c7b299;
    fill: #c7b299;
}

.main-header-logo:active {
    color: #df8b26;
    fill: #df8b26;
}

.logo-txt {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
  }
  

.main-nav-list {
    float: left;
    padding: 0;
    width: 670px;
    float: left;
    margin-left: 216px;
}

.main-nav-list li {
    float: left;
    padding-right: 29px;
    list-style-type: none;
    box-sizing: border-box;
}

.main-nav-list a {
    color: #fff;
    font-size: 14px;
}

.bin, .search {
    float: left;
    padding: 0;
    margin: 13px;
    background: none;
    border: none;
    outline: none;
    fill: #fff;
}

label,
#menu {
  display: none;
}

a:hover {
    color: #c7b299;
}

a:active {
    color: #df8b26;
}

svg:hover {
    fill: #c7b299;;
}

svg:active {
    fill: #df8b26;
}

.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1640px;
    min-height: 770px;
    margin: 0 auto;
    margin-top: 120px;
    /* border: 1px solid white; */
    position: relative;
  }

  .carousel-btn {
    display: block;
    width: 42px;
    height: 75px;
    fill: #fff;
    opacity: 0.5;
  }

  .carousel-btn:nth-of-type(1) {
    margin: 0 450px 0 0;
  }
  
  .carousel-btn:nth-of-type(2) {
    margin: 0 0 0 450px;
  }

  .carousel-txt {
    width: 627px;
    min-height: 320px;
    /* background-color: #ccc; */
    text-align: center;
    margin-top: -130px;
  }

  .carousel-txt p {
      width: 570px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
  }

  .carousel-txt-btn {
      width: 170px;
      min-height: 53px;
      margin-top: 50px;
      background-color: #998675;
      border-radius: 5px;
      font-family: Raleway-ExtraBold;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      line-height: 23px;
      padding: 0;
      border: none;
      outline: none;
      box-sizing: border-box;
  }

  .carousel-txt-btn:hover {
      background-color: #c7854b;
  }

  .carousel-txt-btn:active, .carousel-pagination-item:active {
    background-color: #ece3db;
}

  .carousel-pagination {
    display: flex;
    justify-content: space-between;
    width: 100px;
    position: absolute;
    bottom: 0;
  }
  
  .carousel-pagination-item {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    border: 2px solid transparent;
  }

  .carousel-pagination-item:hover {
    background-color: transparent;
    border: 2px solid #fff;
    transform: scale(1.2);
  }

  header::after { /*?*/
      width: 100%;
      min-height: 100px;
      content: "";
  }

  .services-flex {
    width: 1230px;
    min-height: 375px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    box-sizing: border-box;
}

.service {
    width: 270px;
    min-height: 375px;
    box-sizing: border-box;
    padding-top: 80px;
}

.service-icon {
fill: #555;
}

.service-link {
  color: #555;
  font-family: Raleway-SemiBold;
  font-size: 22px;
}

.service-link :nth-child(2) {
    margin: 20px 0;
    font-family: Raleway;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
}

.service:hover .service-link {
  color: #c7b299;
}

.service:hover .service-icon {
  fill: #c7b299;
}

.service:active .service-link{
  color: #df8b26;
}

.service:active .service-icon {
  fill: #df8b26;
}

.service-txt {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
}

.service::after {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  background-color: #f1eee9;
  margin: 0 auto;
  align-self: flex-end;
}

.service:hover:after {
  background-color: #c7b299;
}

.service:active::after {
  background-color: #df8b26;
}

  .windows {
      width: 100%;
      min-height: 700px;
      box-sizing: border-box;
      background-color: #fbfaf8;
  }

  .windows-wrapper {
      width: 1230px;
      min-height: 700px;
      margin: 0 auto;
      box-sizing: border-box;
      padding-top: 80px;
      text-align: center;
  }

  .windows-title, .projects-title {
      font-family: Raleway-SemiBold;
      font-size: 30px;
      color: #555;
  }

  .windows-txt, .projects-txt {
      width: 760px;
      margin: 25px auto;
      font-family: Montserrat-Light;
      font-size: 16px;
      line-height: 28px;
      color: #8c8c8c;
      box-sizing: border-box;
  }

  .photo {
      width: 1230px;
      display: flex;
      justify-content: center;
      position: relative;
  }

  .photo-browser:first-child {
    position: absolute;
    top: 82px;
    left: 0;
    z-index: 1;
  }

  .photo-browser:nth-of-type(2) {
    margin: 0 auto;
    z-index: 2;
  }

  .photo-browser:last-child {
    position: absolute;
    top: 82px;
    right: 0;
    z-index: 1;
  }

  .photo-browser:hover:first-child {
    z-index: 3;
}

  .photo-browser:hover:last-child {
      z-index: 3;
  }

  .purchase {
      width: 100%;
      height: 150px;
      background-color: #f4f5f8;
      background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
      box-sizing: border-box;
  }

  .purchase-wrapper {
      width: 1230px;
      min-height: 150px;
      margin: 0 auto;
      padding: 50px;
      box-sizing: border-box;
  }

  .purchase-wrapper-txt {
      float: left;
  }

  .purchase-wrapper-txt :first-child { /*Работает только с пробелом между классом и псевдоклассом - все что связано с child*/
      font-family: Raleway-Regular;
      font-size: 28px;
      line-height: 1.2;
      font-weight: 400;
      color: #c7b299;
  }

  .purchase-wrapper-txt:nth-child(1) {
    font-family: Raleway-Regular;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #fff;
  }

  .purchase-wrapper-txt :last-child {
    font-family: Montserrat-Light;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
  }

  .purchase-btn {
      float: right;
      margin: 0;
  }

  .projects {
    width: 1230px;
    min-height: 1165px;
    margin: 0 auto;  
    box-sizing: border-box;
    padding: 80px 30px;
    text-align: center;
  }

  .projects-nav {
    width: 605px;
    min-height: 32px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }

  .projects-nav button {
    width: 120px;
    min-height: 32px;
    border: 1.0px solid #ebebeb;
    border-radius: 3.0px;
    box-sizing: border-box;
    background-color: #fff;
    font-family: Montserrat-Light;
    font-size: 14px;
    color: #8c8c8c;
    outline: none;
  }

  .projects-nav button:hover {
    background-color: #c7854b;
    color: #fff;
  }

  .projects-nav button:active {
    background-color: #ece3db;
  }

  .projects-nav :first-child {
    width: 72px;
    background-color: #998675;
    color: #fff;
  }

  .projects-nav :last-child {
    width: 135px;
  }

  .projects-cards {
    width: 1170px;
    min-height: 705px;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
  }

  .card {
    width: 370px;
    min-height: 337px;
    box-sizing: border-box;
    position: relative;
  }

  .card-txt {
    min-height: 100px;
    padding: 25px;
    box-sizing: border-box;
    text-align: left;
    background-color: #fbfaf8;
    outline: none;
    position: relative;
  }

  .card-txt::before {
    content: "";
    display: block;
    border: 20px solid transparent; 
    border-bottom: 15px solid #fbfaf8;
    position: absolute;
    top: -30px;
    left: 20px;
  }

  .card-txt h3 {
    margin: 0 0 5px 0;
    font-family: Raleway-Regular;
    font-size: 20px;
    color: #c7b299;
    box-sizing: border-box;
  }

  .card-txt span {
    font-size: 14px;
    line-height: 20px;
    color: #d1d1d1;
  }

  .card img {
    display: block;
    width: 100%;
  }
  
  .card:hover img {
    filter: brightness(30%);
  }

  .card:hover .card-txt {
    background-color: #362f2d;
  }

  .card:hover .card-txt::before {
    border-bottom: 15px solid #362f2d;
  }

  .card:hover .card-txt h3 {
    color: #fff;
  }

  .card:hover .card-txt span {
    color: #c7b299;
  }

  .card-btn-link, .card-btn-search {
    width: 26px;
    height: 25px;
    display: none;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 28%
}

  .card-btn-link {
    left: 35%;
  }
  
  .card-btn-search {
    right: 42%;
  }

  .card:hover .card-btn-link {
    display: block;
    fill: #c7b299;
  }

  .card:hover .card-btn-search {
    display: block;
    fill: #c7b299;
  }

  .card:hover .card-btn-link svg:hover {
    fill: #fff;
    outline: none;
  }

  .card:hover .card-btn-link:active {
    outline: none;
  }

  .card:hover .card-btn-link:active svg {
    fill: #c0cf3a;
  }
  
  .card:hover .card-btn-search svg:hover {
    fill: #fff;
    outline: none;
  }

  .card:hover .card-btn-search:active {
    outline: none;
  }

  .card:hover .card-btn-search:active svg {
    fill: #c0cf3a;
  }

  .projects-main-btn {
    width: 170px;
    height: 50px;
    background-color: #998675;
    border-radius: 5px;
    outline: none;
    font-family: Raleway-ExtraBold;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    color: #ffffff;
  }

  .projects-main-btn:active {
    background-color: #ece3db;
  }

  .section-video {
    margin: 0 auto;
    width: 100%;
    height: 705px;
    position: relative;
  }

  .section-video video {
    width: 100%;
    height: 100%;
  }

  .video-content {
    width: 552px;
    min-height: 288px;
    position: absolute;
    left: 36%;
    top: 30%;
    text-align: center;
    outline: none;
  }

  .video-play-btn {
    margin: 0 auto;
    display: flex;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .video-play-btn-icon {
    margin: auto;
    fill: #fff;
  }

  .video-play-btn:hover {
    background-color: #565a5e;
    opacity: 1;
  }

  .video-content :nth-child(2) {
    margin-top: 40px;
    font-family: Raleway-Medium;
    font-size: 30px;
    color: #fff;
  }

  .video-content :nth-child(3) {
    margin-top: 10px;
    font-family: Montserrat-Light;
    font-size: 16px;
    color: #fff;
  }

   .video-content time {
    display: block;
    margin-top: 40px;
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #c7b299;
   } 

  .mobile {
    width: 100%;
    min-height: 695px;
    background-color: #fbfaf8;
  }

  .mobile-wrapper {
    margin: 0 auto;
    width: 1230px;
    min-height: 695px;
    padding: 187px 30px;
    box-sizing: border-box;
    background-image: url(../img/mobike_img.png);
    background-repeat: no-repeat;
    background-position: 30px 80px;
  }

  .mobile-txt {
    width: 675px;
    min-height: 321px;
    float: right;
    box-sizing: border-box;
  }

  .mobile-txt h2 {
    font-family: Raleway-SemiBold;
    font-size: 30px;
    line-height: 1.2;
    color: #555;
  }

  .mobile-txt p, .mobile-txt ul {
    margin-top: 30px;
    font-family: Montserrat-Light;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
  }

  .mobile-txt ul {
    line-height: 30px;
    list-style-image: url(../img/marker.png);
    padding-left: 80px;
  }

  .mobile-txt ul li {
    padding-left: 20px;
  }

  .statistic {
    width: 100%;
    min-height: 300px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
  }

  .statistic-wrapper {
    width: 1230px;
    min-height: 300px;
    margin: 0 auto;
    display: flex;
    padding: 65px 155px;
    box-sizing: border-box;
    justify-content: space-between;
  }

  .statistic-item {
    width: 132px;
    min-height: 171px;
    text-align: center;
  }

  .statistic-item :first-child {
    fill: #c7b299;
  }

  .statistic-item :nth-child(2) {
    display: block;
    margin-top: 15px;
    font-family: Montserrat-Light;
    font-size: 48px;
    color: #fff;
  }

  .statistic-item :last-child {
    color: #c7b299;
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .statistic-item::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 30px;
  }

  .posts {
    width: 1230px;
    min-height: 750px;
    margin: 0 auto;  
    box-sizing: border-box;
    padding: 80px 30px;
    text-align: center;
  }

  .posts h2 {
    font-family: Raleway-SemiBold;
    font-size: 30px;
    line-height: 1.2;
    color: #555555;
  }

  .posts p {
    margin: 30px auto;                                                                  
    width: 757px;
    font-family: Montserrat-Light;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
  }

  .posts-cards {
    width: 1170px;
    min-height: 395px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 30px;
  }

  .posts-cards-item {
    width: 370px;
    min-height: 395px;
    border: 1px solid #f8f8f8;
    position: relative;
  }

  .posts-cards-item h3 {
    font-family: Raleway-Medium;
    font-size: 20px;
    line-height: 1.2;
    color: #555555;
    margin: 15px 0;
    padding: 0 20px;
  }

  .posts-cards-item p {
    margin: 0;
    width: 297px;
    padding: 0 20px;
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 22px;
    color: #8c8c8c;
  }

  .posts-cards-item a {
    display: block;
    width: 115px;
    margin-top: 15px;
    padding: 0 20px;
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 20px;
    color: #c7b299;
    position: relative;
  }

  .posts-cards-item a:hover {
    color: #df8b26;
  }

  .posts-cards-item a:active  {
    color: #e0f710;
  }

  .posts-cards-item a:hover::after  {
    border-left: 8px solid #df8b26;
  }

  .posts-cards-item a:active::after  {
    border-left: 8px solid #e0f710;
  }

  .posts-cards-item a::after {
    content: "";
    display: block;
    border: 5px solid transparent; 
    border-left: 8px solid #c7b299;
    position: absolute;
    top: 5px;
    left: 105px;
  }

  .posts-cards-item div {
    width: 50px;
    min-height: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
  }

  .posts-cards-item div :first-child {
    display: block;
    width: 50px;
    height: 35px;
    background-color: #363636;
    border-radius: 3.0px 3.0px 0.0px 0.0px;
    font-family: Montserrat-Light;
    font-size: 24px;
    line-height: 20px;
    color: #ffffff;
    padding: 8px 0;
    box-sizing: border-box;
  }

  .posts-cards-item div :last-child {
    display: block;
    width: 50px;
    height: 25px;
    background-color: #252525;
    border-radius: 0.0px 0.0px 3.0px 3.0px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    padding: 5px 0;
    box-sizing: border-box;
  }

  .posts-cards-item:hover img {
    filter: brightness(30%);
  }

  .posts-cards-item:hover {
    background-color: #362f2d;
  }

  .posts-cards-item:hover h3 {
    color: #c7b299;
  }

  .posts-cards-item:hover p {
    color: #fff;
  }

  .posts-cards-item:hover div :last-child {
    background-color: #a48d72;
  }

  .posts-cards-item:hover div :first-child {
    background-color: #c7b299;
  }

  .posts button {
    border: none;
    background: none;
    fill: #d1d1d1;
    outline: none;
  }

  .clients {
    width: 100%;
    min-height: 490px;
    background-image: url(../img/clients_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-bottom: 1px solid #191919;
  }

  .clients-wrapper {
    width: 1110px;
    height: 210px;
    margin: 140px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .clients-wrapper a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .clients-wrapper a:active {
    background-color: rgba(231, 212, 212, 0.2);
  }

  .footer-main {
    width: 100%;
    min-height: 510px;
    background-color: #191919;
    border: 1px solid #191919;
    display: block;
  }

  .footer-main-wrapper {
    width: 1170px;
    min-height: 350px;
    margin: 80px auto;

    display: flex;
    justify-content: space-between;
  }

  .footer-main-item {
    width: 273px;
    min-height: 319px;
  }

  .footer-logo {
    float: none;
  }

  .article p {
    margin: 20px 0;
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 24px;
    color: #555555;
  }

  .article a {
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 20px;
    color: #d1d1d1;
    position: relative;
  }

  .article a:last-of-type::after {
    content: "";
    display: block;
    border: 5px solid transparent; 
    border-left: 8px solid #c7b299;
    position: absolute;
    top: 4px;
    left: 90px;
  }

  .footer-main-item h3 {
    margin: 20px 0 20px 0;
    font-family: Raleway-Bold;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
  }

  .post time, .twitter span {
    font-family: Montserrat-Light;
    font-size: 12px;
    line-height: 20px;
    color: #363636;
  }

  .post p, .twitter p {
    margin: 5px 0 10px 0;
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    border-bottom: 1px solid #252525;
    padding-bottom: 10px;
  }

  .post p:last-of-type, .twitter p {
    border-bottom: none;
  }

  .twitter a {
    color: #00bff3;
  }

  .twitter p {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .twitter span {
    display: block;
    padding-bottom: 20px;
    border-bottom: 1px solid #252525;
  }

  .widgets a:hover img {
    filter: brightness(30%);
  }

.footer-copyrights {
  width: 100%;
  min-height: 111px;
  background-color: #111;
  padding: 48px 0;
  box-sizing: border-box;
}

.footer-copyrights-wrapper {
  width: 1170px;
  min-height: 15px;
  margin: 0 auto;
  font-family: Montserrat-Light;
  font-size: 13px;
  line-height: 20px;
  color: #555;
}

.footer-copyrights-wrapper a {
  color: #555;
}

.footer-copyrights-wrapper a:hover {
  color: #c7b299;
}

.footer-copyrights-wrapper ul{
  margin: 0;
  padding: 0;
  float: left;
}

.footer-copyrights-wrapper ul li {
  display: inline;
  border-right: 1px solid #252525;
  padding: 0 10px;
}

.footer-copyrights-wrapper ul li:last-of-type {
  border: none;
}

.footer-copyrights-wrapper ul li:first-of-type a {
  color: #959595;
}

.footer-copyrights-wrapper ul li:first-of-type a:hover {
  color: #c7b299;
}

.footer-copyrights-wrapper span {
  display: block;
  float: left;
}

.footer-copyrights-wrapper span:first-of-type {
  margin: 0 10px 0 430px;
  border-right: 1px solid #252525;
  padding-right: 10px;
}

.footer-copyrights-wrapper span a {
  color: #959595;
}

@media (max-width: 480px) {

  header {
    width: 100%;
    background-size: auto;
    min-height: auto;
  }  

  label {
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-image:  url('https://cdn3.iconfinder.com/data/icons/mobile-friendly-ui/100/menu-128.png');
    background-size: 100%;
    background-position: 0 0;
    background-color: #fff;
    margin-left: 180px;
  }
  
  .main-nav-list {
    height: 0;
    display: flex;
    visibility: hidden;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
  }

  .main-nav-list li {
    text-align: center;
    background-color: #ccc;
    margin-top: 2px;
    width: 415px;
    background-color: #43423e;
  }
  
  .bin, .search {
    display: none;
  }
  
  input[type="checkbox"]:checked ~ .main-nav-list {
  visibility: visible;
  height: auto;
  }

  .carousel {
    display: none;
    height: 0;
  }

  .services-flex {
    width: 100%;
    flex-wrap: wrap;
  }

  .service {
    width: 40%;
  }

  .windows, .purchase, .projects-nav, .projects-cards, .projects-main-btn, .section-video, .statistic, .posts button, .footer-main {
    display: none;
    height: 0;
  }

  .projects {
    width: 100%;
    min-height: auto;
    padding: 40px 10px;
  }

  .projects-txt {
    width: 100%;
  }

  .mobile {
    width: 100%;
  }

  .mobile-wrapper {
    width: 100%;
    padding: 0;
  }

  .mobile-txt {
    width: auto;
    text-align: center;
  }

  .mobile-txt p, .mobile-txt ul {
    color: #000;
  }

  .posts {
    width: 100%;
    padding: 30px 0;
  }

  .posts p {
    width: 100%;
  }

  .posts-cards {
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 50px;
  }

  .posts-cards-item a::after {
    top: 6px;
    left: 120px;
  }

  .clients-wrapper {
    width: 100%;
    min-height: 210px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
  }

    .footer-copyrights {
    width: 100%;
  }

  .footer-copyrights-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .footer-copyrights-wrapper span {
    display: none;
    height: 0;
  }
}