@import url(https://fonts.googleapis.com/css?family=Tenor+Sans|PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic);

body {
    background: #d1c4c4;
}
.container {
    padding-top: 50px;
    padding-left: 250px;
    padding-right: 250px;
    background-image: url(../img/Macbook\ Pro.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 150px;
    min-height: 720px;
    /* text-align: center; */
}
h1  {
    margin-bottom: 50px;
    font-family: 'Tenor Sans', sans-serif;
    text-align: center;
}
li {
    border: 2px solid #a39e9e;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #201f1f;
    transition: 0.5s;
    padding: 5px 0 5px 10px;
}
li:hover {
    background: #a39e9e;
}
li:hover a {
    color: #201f1f;
}
a {
    display: block;
    min-width: 100%;
    color: #a39e9e;
    font-size: 20px;
    text-decoration: none;
}
.page {
    margin: 0 auto;
    width: 270px;
    background:  #999797;
    text-align: center;
    transition: 0.5s;
}
.page a {
    color: #201f1f;
}
.page:hover {
    background: #636262;
}
.page:hover a {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 1200px) {
    .container {
        padding-left: 170px;
        padding-right: 170px;
    }
    .list-unstyled {
        margin-top: -25px;
    }
}
@media screen and (max-width: 992px) {
    h1 {
        margin-bottom: 25px;
    }
    .container {
        padding-left: 120px;
        padding-right: 120px;
        background-size: 110%;
        background-position: -35px 150px;
        min-height: 560px;
    }
    .list-unstyled {
        margin-top: 0;

    }
    .list-unstyled a {
        font-size: 15px;
    }
}
@media screen and (max-width: 769px) {
    h1 {
        margin-bottom: 70px;
    }
    .container {
        background-image: url(../img/ipad.png);
        background-position: 0 100px;
        background-size: 100%;
        padding-top: 10px;
        padding-left: 70px;
        padding-right: 70px;
        /* padding-bottom: 400px; */
        min-height: 1020px;

    }
    .list-unstyled a {
        font-size: 21px;
    }
}
@media screen and (max-width: 576px) {
    .container {
        min-height: 830px;
    }
}
@media screen and (max-width: 539px) {
    .list-unstyled a {
        font-size: 20px;
    }
}
@media screen and (max-width: 509px) {
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }
    .list-unstyled a {
        font-size: 15px;
    }

}
@media screen and (max-width: 470px) {
    .list-unstyled {
        margin-top: 0;
    }
    h1 {
        font-size: 35px;
    }
    .list-unstyled a {
        font-size: 13px;
    }
    .page {
        width: 251px;
    }
}
@media screen and (max-width: 398px) {
    h1 {
        font-size: 30px;
        margin-bottom: 95px;
    }
    .container {
        background-image: url(../img/iphone.png);
        padding-left: 25px;
        padding-right: 25px;
        min-height: 860px;
    }
    .list-unstyled {
        margin-top: -25px;
    }
    .list-unstyled a {
        font-size: 16px;
    }
    .page {
        width: 221px;
    }
}
