body {
    width: 1280px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    font: 16px/1.6 Arial;
}

header {
    min-height: 314px;
    background-color: #445162;
    padding: 50px;
    box-sizing: border-box;
}

.header, .about-product-article {
    width: 650px;
    float: left;
}

h1 {
    font: 60px Arial;
    color: #ffffff;
    margin: 0 0 20px 0;
}

header ul {
    color: #ffffff;
    list-style-image: url(../img/check.png);
    list-style-position: inside;
}

.header-image {
    width: 470px;
    min-height: 212px;
    background-color: #ffffff;
    float: right;
    margin: 0;
}

header:after {
    content: "";
    display: block;
    width: 100%;
    clear:both;
}

.about-product {
    min-height: 345px;
    padding: 50px;
    box-sizing: border-box;
    color: #777;
}

h2 {
    font-size: 30px;
    color: #445161;
    margin: 0;
}

.about-product-article :nth-child(2), .about-product-article :nth-child(3) {
    padding: 0;
    margin: 20px 0 0 0;
    color: #5c5c5c;
}

.about-product-video {
    width: 430px;
    min-height: 245px;
    background-color:#445162;
    float: right;
    margin-top: 0;
}

.about-product:after {
    content: "";
    display: block;
    width: 100%;
    clear:both;
}

.dignity {
    min-height: 416px;
    background-color: #f5f5f5;
    padding: 50px;
    box-sizing: border-box;
}

.dignity-list {
    min-height: 265px;
    width: 590px;
    float: left;
}

#dignity-title {
    text-align: center;
    padding: 0;
}

.dignity ul {
    color: #5c5c5c;
    list-style-type: none;
    list-style-position: outside;
}

.dignity ul li {
    background: url(../img/plus.png) no-repeat;
    padding-left:40px;
    margin: 20px 0 0 0;
}

.dignity:after {
    content: "";
    display: block;
    width: 100%;
    clear:both;
}

.screenshots {
    min-height: 475px;
    padding: 50px;
    box-sizing: border-box;
}

.screenshots h2 {
    text-align: center;
    padding: 0;
}

.screenshots-div {
    width: 590px;
    min-height: 150px;
    float: left;
    margin: 20px 0 0 0;
}

figure img {
    min-height: 150px;
    width: 200px;
    background-color:#445162;
    display: block;
    float: left;
    margin-right: 15px;
}

.screenshots h3 {
    font-size: 24px;
    color: #445162;
    margin-top: -20px;
    display: inline-block;
}

.screenshots p {
    color: #5c5c5c;
}

.screenshots:after {
    content: "";
    display: block;
    width: 100%;
    clear:both;
}

.reviews {
    min-height: 424px;
    background-color: #f5f5f5;
    padding: 50px;
    box-sizing: border-box;
}

.reviews-article {
    width: 590px;
    min-height: 145px;
    float: left;
}

.reviews h2 {
    text-align: center;
    margin: 0 0 20px 0;
}

.reviews-image {
    width: 77px;
    min-height: 77px;
    background-color: #445162;
    border-radius: 50%;
    float: left;
}

.reviews-article-div {
    width: 460px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ccc;
    margin: 0 0 20px 105px;
    border-radius: 10px;
    position: relative;
}

.reviews-article-div:before {
    content: "";
    display: block;
    border: 20px solid transparent; 
    border-right: 20px solid #ccc;
    position: absolute;
    top: 20px;
    left: -30px;
  }

.reviews-article-div p {
    font-size: 14px;
}

.reviews-italic {
    font-style: italic;
    color: #5c5c5c;
    padding: 0;
}

.reviews-signature {
    color: #989898;
    display: block;
    margin: 3px 0 0 0;
}

/* .reviews-article-div :last-child {  Добавлено преподавателем. ???
    margin: 0;
} */

.reviews:after {
    content: "";
    display: block;
    width: 100%;
    clear:both;
}

.reviews-column:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.reviews-column :nth-child(3) .reviews-article-div {
    margin: 0 0 0 105px;
    }

.prices {
    min-height: 655px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
}

.prices h2 {
    text-align: center;
    padding: 0;
    margin: 0 0 20px 0;
}

.prices-flex {
    margin: 0 auto;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.prices-flex-item {
    width: 300px;
    min-height: 307px;
    background-color: #445162;
    border: 2px solid #445162;
    border-radius: 10px;
    box-sizing: border-box;
}

.prices h3 {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
}

.price {
    display: block;
    min-height: 67px;
    background-color: #ffffff;
    text-align: center;
    font-size: 40px;
    color: #445162;
    margin-bottom: 20px;
}

ol {
    list-style-position: inside;
    padding-left: 20px;
    margin-bottom: 35px;
}

.prices ol li {
    font-size: 14px;
    color: #ffffff;
}

button {
    min-height: 40px;
    width: 260px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: #445162;
    font-weight: bolder;
    margin-bottom: 20px;
}

button:hover, .button:hover {
    background-color: #445162;
    color: #ffffff;
}

button:active, .button:active {
    box-shadow: inset 0 0 5px #ffffff;
}

button:focus, .button:focus, input:focus, textarea:focus {
    outline: none;
}

.prices:after {
    content: "";
    display: block;
    width: 100%;
    clear:both;
}

footer {
    min-height: 534px;
}

.footer-main {
    min-height: 508px;
    padding: 50px;
    background-color: #445162;
}

footer h2 {
    color: #ffffff;
    text-align: center;
    margin: 0 0 30px 0;
}

.footer-input {
    min-height: 355px;
    width: 507px;
    float: left;
    padding-left: 249px;
    margin-right: 45px;
}

input {
    width: 493px;
    min-height: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #445162;
    padding-left: 10px;
}

.button {
    width: 140px;
    min-height: 40px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0;
}

textarea {
    width: 493px;
    margin-bottom: 15px;
    color: #445162;
    padding-left: 10px;
    border-radius: 10px;
}

address {
    width: 250px;
    margin: 0;
    color: #ffffff;
    float: left;
    box-sizing: border-box;
}

.main-footer-contacts-link {
    display: block;
    margin: 0 0 15px 0;
    padding: 0 0 0 30px;
    position: relative;
    font-size: 16px;
    font-family: "arial";
    line-height: 1.5;
    text-align: left;
  }
  
  .main-footer-contacts-link:last-of-type {
    margin: 0 0 32px 0;
  }
  
  .main-footer-contacts-link::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    /* border: 1px solid black; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1px;
    left: 0;
  }
  
  .main-footer-contacts-link:nth-of-type(1):before {
    /* border: 1px solid #fff; */
    background-image: url(../img/skype.png);
  }
  
  .main-footer-contacts-link:nth-of-type(2):before {
    background-image: url(../img/icq.png);
  }
  
  .main-footer-contacts-link:nth-of-type(3):before {
    background-image: url(../img/email.png);
  }
  
  .main-footer-contacts-link:nth-of-type(4):before {
    background-image: url(../img/phone.png);
  }

.footer-contacts-icons {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }

.footer-contacts-net {
    width: 43px;
    height: 42px;
    background-image: url(../img/social_buttons.png); 
}

.footer-contacts-net:nth-of-type(2) {
    width: 42px;
    height: 42px;
    background-image: url(../img/social_buttons.png);
    background-position: 42px 0;
}

.footer-contacts-net:nth-of-type(3) {
    width: 43px;
    height: 42px;
    background-image: url(../img/social_buttons.png);
    background-position: 91px 0;
}

.footer-contacts-net:nth-of-type(4) {
    width: 43px;
    height: 42px;
    background-image: url(../img/social_buttons.png);
    background-position: 142px 0;
}

.footer-contacts-net:nth-of-type(5) {
    width: 43px;
    height: 42px;
    background-image: url(../img/social_buttons.png);
    background-position: 191px 0;
}

.footer-rights p{
    text-align: center;
    font-size: 12px;
    color: #445162;
}